*{
    margin: 0;
    padding: 0;
}

ul, li, a {
    list-style-type: none;
  }

/* NORMAL DISPLAY */

#menu {
    display: flex;
    justify-content: space-around;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    height: 20vh;
    width: 40%;
    margin: 10px auto;
    background-color: #88c1d0;
}

/* MOBILE DISPLAY */

@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
    }

    #hamburger {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 10px 20px;
        background-color: aqua;
    }
      
    #menu{
        transform: translate3d(-335px, 0, 0);
        flex-direction: column;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .section {
        width: 50%;
    }

    
}

/* LARGE DISPLAY */

@media screen and (min-width: 1600px) {
    main {
        flex-wrap: nowrap;
    }
    .section {
        width: 20%;
    }
}