body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    height: 20vh;
    width: 40%;
    margin: 10px auto;
    background-color: #88c1d0;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .section {
        width: 50%;
    }
}

@media screen and (min-width: 1600px) {
    body {
        flex-wrap: nowrap;
    }
    .section {
        width: 20%;
    }
}